.toggle-button {
  display: inline-block;
  padding: 0.25em 2em; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  30% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

html.hide-widgets .collapsible-block {
  display: none; }

.collapsible-block[aria-hidden="true"] {
  display: none; }

.collapsible-block[aria-hidden="false"] {
  animation: fade-in 0.3s; }
